@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v10/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    margin: 0 auto;
    font-family: 'Ubuntu';
    text-align: center;
}
p {
    font-family: 'Ubuntu';
}
h1 {
    text-align: center;
}

#viesti {
    font-family: 'Ubuntu';
    font-size: 18px;
    text-align: center;
}
table {
    margin: 0 auto;
    margin-top: 75px;
    position: relative;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
}
td {
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    font-size: 20pt;
    font-weight: bold;
}

.buttonarea button {
    margin-top: 20px;
    text-align: center;
    margin: 5px;
}


.prompt {
    display: none;
    width: 100px;
    border-radius: 5px;
    width: 300px;
    left: 50%;
    top-padding: 50px;
    bottom-padding: 50px;
    margin-left: -150px;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

.buttonarea button {
    margin-top: 20px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    font-size: 16pt;
    border-radius: 5px;
    font-weight: bold;
}
td:nth-of-type(1) {
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

label, input {
    display: block;
    text-align: left;
}


#dialog p {
    text-align: left;
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float:none !important;
}


input.text {
    margin-bottom: 24px;
    width:95%;
    padding: .4em;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top:12px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

#dialog-text {
    border: 1px solid transparent;
    padding: 0.3em;
}

.infoarea p {
    font-size: 16px;
}


